body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}*/
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
    left: 50%;
  transform: translate(-50%, 0%);
    top: 50%;
  display:table;
  padding: 0 !important;
}*/


.modal-dialog {
  width: 60vw !important;
  height: 80vh !important;
}

.modal-content {
  position: fixed;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;

  width: 60vw !important;
  height: 80vh !important;
}

.modal-body {
  max-height: 80vh !important;
}

/*

.modal-dialog {
  width: 80vw !important;
  height: 60vw !important;
  margin: 0
}

.custom-modal {
  width: 100vw !important;
  height: 100vw !important;
  margin: 0
}

*:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
